<template name="main">
  {{> Template.dynamic template=header}}

  <div class="app-body">
    {{> Template.dynamic template=sidebar}}

    <main class="main">
      <div class="container">
        <section class="banner home-tagline">
          <ul class="breadcrumbs">
            <li><a href="/">{{_ "shared.main.home"}}</a></li>
            {{#each it in breadcrumbs}}
            <li><a href="{{it.url}}">{{it.text}}</a></li>
            {{/each}}
          </ul>
        </section>
        {{> Template.dynamic template=main}}
      </div>
    </main>
    {{> Template.dynamic template=footer}}
  </div>
  {{> footer}}
</template>

<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done pace-done"></body>
